<ion-content>
  <div class="bg-secondary h-full">
    <div class="h-1/2">
      <div class="flex justify-end pt-5 pr-5">
        <ion-button fill="clear" class="text-black">
          <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-text>
        <h1 class="text-center font-bold text-white">Gestion des colis</h1>
        <div class="text-primary text-center my-12 font-bold px-5">
          Retrouvez ici tous les colis que 
          vousavez à gérer : ceux à venir, 
          ceux chez vous et ceux que vous 
          avez livrés aux transporteurs.
        </div>
      </ion-text>
    </div>
    <div class="px-5 bg-white rounded-t-3xl h-1/2">
      <div class=" pt-10">
        <ion-card class="shadow-none" *ngFor="let item of items">
          <div class="border-2 flex flex-row space-x-5 h-12 items-center pl-3" routerLink="{{item.to}}">
            <div class="">
              <img [src]="item.icon" alt="" class="">
            </div>
            <div class="text-lg">{{item.title}}</div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
