<ion-content>
  <div class="flex items-center mt-10 mb-16 w-full">
    <ion-button fill="clear" (click)="myBackButton()" class="text-black">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="font-bold text-2xl">Mon profil</div>
  </div>
  <div class="">
    <div class="">
      <div class="divider border-gray-60 border-opacity-100"></div>
      <ion-list lines="full">
        <ion-item routerLink="../mon-profil/mes-informations" detail="false">
          <ion-label>Mes informations</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item class="">
          <ion-label>Mot de passe</ion-label>
          <ion-button fill="clear" slot="end">
            <img src="assets/icon/write.svg" alt="">
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Piece d’identité</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Téléphone</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>adresse e-mail</ion-label>
        </ion-item>
        <ion-item class="h-16">
          <ion-label>Fermer definitivement votre compte</ion-label>
          <ion-button fill="clear" slot="end" class="text-red-600">supprimer</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
