<ion-content>
  <div class="p-5">
    <div class="">
      <div class="text-center text-2xl font-bold my-5">Signaler un soucis</div>
      <form action="">
        <ion-item lines="none">
          <ion-label position="stacked">Vous êtes</ion-label>
          <ion-input type="text" class="border-2 rounded-md"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Adresse e-mail</ion-label>
          <ion-input type="text" class="border-2 rounded-md"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Référence colis ( <span style="color: #3366C4;">valeur facultative</span>)</ion-label>
          <ion-input type="email" class="border-2 rounded-md"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Sujet</ion-label>
          <ion-input type="text" class="border-2 rounded-md"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea rows="6" cols="20" class="border-2 rounded-md"></ion-textarea>
          <div class="text-sm" style="color: #3366C4;">
            Saisissez les les détails de votre demande. un menbre de notre 
            équipe d’assistance répondra dans les plus bref délais.
          </div>
        </ion-item>
        <ion-item lines="none" class="my-5">
          <ion-label position="stacked">Pièce jointes (<span style="color: #3366C4;">valeur facultative</span>)</ion-label>
          <ion-input type="file" class="border-2 rounded-md"></ion-input>
        </ion-item>
        <ion-button fill="clear" type="submit" expand="block" class="rounded-2xl text-white bg-secondary text-lg">envoyer</ion-button>
      </form>
    </div>
  </div>
</ion-content>
