<ion-content>
  <div class="flex items-center mt-10 mb-16 w-full">
    <ion-button fill="clear" (click)="myBackButton()" class="text-black">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="font-bold text-2xl">Questions fréquentes</div>
  </div>
  <div class="">
    <div class="flex justify-center">
      <img src="assets/icon/questions.svg" alt="">
    </div>
    <div class="relative">
      <ion-card class="shadow-none border-2 border-secondary flex items-center" (click)="div1 = !div1">
        <ion-card-content class="text-lg">puis-je modifier mes horaires ?</ion-card-content>
      </ion-card>
      <div class="absolute top-5 right-5">
        <ion-icon slot="end" size="large" name="chevron-forward-outline" class="text-secondary w-10" *ngIf="!div1" (click)="div1 = !div1"></ion-icon>
        <ion-icon slot="end" size="large" name="chevron-down-outline" class="text-secondary pr-2" *ngIf="div1" (click)="div1 = !div1"></ion-icon>
      </div>
      <div class="px-5" *ngIf="div1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium explicabo amet sed deleniti quis culpa quibusdam rem voluptatibus eaque tenetur.
      </div>
    </div>
    <div class="relative">
      <ion-card class="shadow-none border-2 border-secondary flex items-center" (click)="div2 = !div2">
        <ion-card-content class="text-lg">puis-je modifier mes horaires ?</ion-card-content>
      </ion-card>
      <div class="absolute top-5 right-5">
        <ion-icon slot="end" size="large" name="chevron-forward-outline" class="text-secondary w-10" *ngIf="!div2" (click)="div2 = !div2"></ion-icon>
        <ion-icon slot="end" size="large" name="chevron-down-outline" class="text-secondary pr-2" *ngIf="div2" (click)="div2 = !div2"></ion-icon>
      </div>
      <div class="px-5" *ngIf="div2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium explicabo amet sed deleniti quis culpa quibusdam rem voluptatibus eaque tenetur.
      </div>
    </div>
    <div class="relative">
      <ion-card class="shadow-none border-2 border-secondary flex items-center" (click)="div3 = !div3">
        <ion-card-content class="text-lg">puis-je modifier mes horaires ?</ion-card-content>
      </ion-card>
      <div class="absolute top-5 right-5">
        <ion-icon slot="end" size="large" name="chevron-forward-outline" class="text-secondary w-10" *ngIf="!div3" (click)="div3 = !div3"></ion-icon>
        <ion-icon slot="end" size="large" name="chevron-down-outline" class="text-secondary pr-2" *ngIf="div3" (click)="div3 = !div3"></ion-icon>
      </div>
      <div class="px-5" *ngIf="div3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium explicabo amet sed deleniti quis culpa quibusdam rem voluptatibus eaque tenetur.
      </div>
    </div>
    <div class="relative">
      <ion-card class="shadow-none border-2 border-secondary flex items-center" (click)="div4 = !div4">
        <ion-card-content class="text-lg">puis-je modifier mes horaires ?</ion-card-content>
      </ion-card>
      <div class="absolute top-5 right-5">
        <ion-icon slot="end" size="large" name="chevron-forward-outline" class="text-secondary w-10" *ngIf="!div4" (click)="div4 = !div4"></ion-icon>
        <ion-icon slot="end" size="large" name="chevron-down-outline" class="text-secondary pr-2" *ngIf="div4" (click)="div4 = !div4"></ion-icon>
      </div>
      <div class="px-5" *ngIf="div4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium explicabo amet sed deleniti quis culpa quibusdam rem voluptatibus eaque tenetur.
      </div>
    </div>
  </div>
</ion-content>
