<ion-content>
  <div class="p-5 space-y-10">
    <div class="text-2xl text-center text-secondary">Conditions générales d'utilisation</div>
    <div class="space-y-5">
      <div class="text-secondary">1. Objet</div>
      <div class="">
        La société LGM WEEB (ci-après, « Trankilo ») édite une plateforme de cobagage (ci-après, « La Plateforme ») accessible sur un site internet notamment à l’adresse www.trankiloapp.com, sous forme d’application mobile ou sous divers réseaux sociaux et destinée à mettre en relation des transporteurs/voyageurs et des expéditeurs désirant recevoir ou envoyer des colis.
        Les présentes conditions générales d’utilisation ont pour objet d’encadrer l’accès et les modalités d’utilisation de la Plateforme. Nous vous invitons à en prendre attentivement connaissance. Vous comprenez et reconnaissez que Trankilo n’est partie à aucun accord, contrat ou relation contractuelle, de quelque nature que ce soit, conclu entre les Membres de sa Plateforme. En tant que plateforme de mise en relation, Trankilo est donc uniquement un tiers à la relation entre ses utilisateurs.
        En cliquant sur le bouton « Connexion avec Facebook », « Connexion avec Google » ou « Inscription avec un email », vous reconnaissez avoir pris connaissance et accepter l’intégralité des présentes conditions générales d’utilisation.
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">2. Définitions</div>
      <div class="">
        <p>Dans les présentes,</p>
        <p>« Annonce » : désigne une annonce de transport déposée par un Transporteur sur la Plateforme;</p>
        <p>« CGU » : désigne les présentes Conditions Générales d’Utilisation ;</p>
        <p>« Code de Dépôt » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</p>
        <p>« Code de Livraison » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</p>
        <p>« Colis » : désigne le(s) bien(s) destiné(s) à être transporté(s). Les membres de la Plateforme doivent s’engager à n’expédier que des objets licites, et n’ayant aucun caractère de dangerosité ;</p>
        <p>« Compte » : désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder à certains services proposés par la Plateforme ;</p>
        <p>« Compte Facebook » : a la signification qui lui est donné à l’article 3.4 ci-dessous ;</p>
        <p>« Confirmation de dépôt » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</p>
        <p>« Confirmation de livraison » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</p>
        <p>« Confirmation de Réservation » : désigne l’opération par laquelle est confirmée une réservation sur la Plateforme tel que détaillé dans l’article 4.2 ;</p>
        <p>« Destinataire » : désigne la personne choisie par l’Expéditeur pour récupérer le Colis sur le Lieu de livraison ;</p>
        <p>« Espace » : désigne l'espace réservée par un Expéditeur dans les capacités totales mentionnées par un Transporteur dans son Annonce. L’Espace peut être décliné en unité tels que le poids (kg), le volume (litres) ou en contenant tels que les barriques, cartons, sacs ou en une combinaison des deux tels que les barriques de 150 litres, les cartons de 30 litres. D’autres déclinaisons d’Espace non mentionnés dans les exemples listés pourront être mis à disposition sur la Plateforme ;</p>
        <p>« Frais de réservation » : a la signification qui lui est donnée à l’article 5.2 ci-dessous ;</p>
        <p>« Frais de transport » : désigne, pour un Trajet donné, la somme d’argent demandée par le Transporteur et acceptée par l'Expéditeur au titre de la rémunération du Transporteur pour le transport du Colis ;</p>
        <p>« Lieu de dépôt » : désigne le lieu convenu pour la remise du Colis au Transporteur ;</p>
        <p>« Lieu de livraison » : désigne le lieu convenu pour la livraison du Colis au Destinataire ;</p>
        <p>« Membre » : désigne toute personne physique ou morale ayant créé un Compte sur la Plateforme ;</p>
        <p>« Trankilo » : a la signification qui lui est donnée à l’article 1 ci-dessus ;</p>
        <p class="pt-5">« Plateforme» : a le sens qui lui est donné à l’article 1, ci-dessus ;</p>
        <p>« Réservation » : a le sens qui lui est donné à l’article 4.2, ci-dessous ;</p>
        <p>« Services » : désigne l’ensemble des services rendus par Trankilo par l’intermédiaire de la Plateforme ;</p>
        <p>« Trajet » » désigne le lieu de départ et le lieu d’arrivée proposé par un Transporteur pour le transport de Colis ;</p>
        <p>« Transporteur » : désigne toute personne physique ou morale ayant déposé une Annonce sur la Plateforme.</p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">3. Inscriptions sur Trankilo et création de compte</div>
      <div class="">
        <p class="text-secondary">3.1. Condition d'inscription</p>
        <p>L’utilisation du site Trankilo est réservée aux personnes physiques âgées de 18 ans ou plus et aux personnes morales. Toute inscription sur la Plateforme par une personne mineure est strictement interdite. En accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou plus.</p>
      </div>
      <div class="">
        <p class="text-secondary">3.2. Création de compte</p>
        <p>La Plateforme permet aux Membres de publier des Annonces pour le transport de Colis et consulter des Annonces ainsi que d’interagir entre eux pour la réservation d'Espace. Vous pouvez consulter les Annonces même si vous n’êtes pas inscrit sur la Plateforme. En revanche, vous ne pouvez ni publier une Annonce de transport de Colis ni réserver d'Espace, sans avoir, au préalable, créé un Compte et être devenu Membre.
          Pour créer votre Compte, vous pouvez :
        </p>
        <p>(i) Soit remplir l’ensemble des champs obligatoires figurant sur le formulaire d’inscription ;</p>
        <p>(ii) Soit vous connecter, via notre Plateforme, à votre Compte Facebook ou Google. En utilisant une telle fonctionnalité, vous comprenez que Trankilo aura accès, publiera sur la Plateforme et conservera certaines informations de votre Compte Facebook ou Google.</p>
        <p>Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU ainsi que
          la Politique de Confidentialité.
        </p>
        <p>A l’occasion de la création de votre Compte, peu importe la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par l’intermédiaire de votre profil ou en en avertissant Trankilo, afin d’en garantir la pertinence et l’exactitude tout au long de votre relation contractuelle avec Trankilo</p>
        <p>En cas d’inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la création de votre Compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe, vous vous engagez à en informer sans délai Trankilo. Vous êtes seul responsable de l’utilisation faite de votre Compte par un tiers, tant que vous n’avez pas expressément notifié Trankilo de la perte, l’utilisation frauduleuse par un tiers ou la divulgation de votre mot de passe à un tiers.
          Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres Comptes que celui initialement créé.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">3.3. Vérification</p>
        <p>Trankilo peut, à des fins de transparence, d’amélioration de la confiance, ou de prévention ou détection des fraudes, mettre en place un système de vérification de certaines des informations que</p>
        <p class="pt-5">vous fournissez sur votre profil. C’est notamment le cas lorsque vous renseignez votre numéro de téléphone ou nous fournissez une pièce d’identité.
          Vous reconnaissez et acceptez que toute référence sur la Plateforme à des informations dites « vérifiées » ou tout terme similaire, signifie uniquement qu’un Membre a réussi avec succès la procédure de vérification existante sur la Plateforme afin de vous fournir davantage d’informations sur le Membre avec lequel vous envisagez de voyager. Trankilo ne garantit ni la véracité, ni la fiabilité, ni la validité de l’information ayant fait l’objet de la procédure de vérification.
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">4. Utilisation des Services</div>
      <div class="">
        <p class="text-secondary">4.1. Publication des Annonces de Transport de Colis</p>
        <p>En tant que Membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et publier des Annonces sur la Plateforme en indiquant des informations relative au Trajet que vous comptez effectuer (dates/heures et lieux de départ et d’arrivée, Espace disponible, moyen de transport, Frais de transport, etc.).
          Lors de la publication de votre Annonce, vous pouvez indiquer le moyen de transport que vous utiliserez pour acheminer le Colis. Les moyens de transport proposés sur la Plateforme sont l'avion, le bateau, la voiture et le train.
          Vous reconnaissez être le seul responsable du contenu de l’Annonce que vous publiez sur la Plateforme. En conséquence, vous déclarez et garantissez l’exactitude et la véracité de toute information contenue dans votre Annonce et vous engagez à effectuer le Trajet selon les modalités décrites dans votre Annonce.
          Votre Annonce sera publiée sur la Plateforme et donc visible des Membres et de tous visiteurs, même non Membre, effectuant une recherche sur la Plateforme ou sur le site internet des partenaires de Trankilo.
          Trankilo se réserve la possibilité, à sa seule discrétion et sans préavis, de ne pas publier ou retirer, à tout moment, toute Annonce qui ne serait pas conforme aux CGU ou qu’elle considérerait comme préjudiciable à son image, celle de la Plateforme ou celle des Services.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">4.2. Réservation d'Espace, de Barrique ou de Carton</p>
        <p>Trankilo a mis en place un système de réservation d'Espace en ligne (la « Réservation ») pour les Annonces proposées sur la Plateforme.
          Lorsqu’un Expéditeur est intéressé par une Annonce, il peut effectuer une demande de Réservation en ligne. Cette demande de Réservation est (i) soit acceptée automatiquement (si le Transporteur a choisi cette option lors de la publication de son Annonce), (ii) soit acceptée manuellement par le Transporteur. Au moment de la Réservation, l'Expéditeur procède au paiement en ligne du montant des Frais de transport et des Frais de réservation afférents, le cas échéant. Après vérification du paiement par Trankilo et validation de la demande de Réservation par le Transporteur, le cas échéant, l'Expéditeur reçoit une confirmation de réservation (la « Confirmation de Réservation »).
          Si vous êtes un Transporteur et que vous avez choisi de gérer vous-mêmes les demandes de Réservation lors de la publication de votre Annonce, vous êtes tenu de répondre à toute demande de Réservation dans un certain délai. A défaut, la demande de Réservation expire automatiquement et l’Expéditeur est remboursé de l’intégralité des sommes versées au moment de la demande de Réservation, le cas échéant.
          A compter de la Confirmation de la Réservation, Trankilo vous transmet les coordonnées téléphoniques du Transporteur (si vous êtes Expéditeur) ou de l'Expéditeur ainsi que le Code de Dépôt (si vous êtes Transporteur). Vous êtes désormais seuls responsables de l’exécution du contrat vous liant à l’autre Membre.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">4.3. Caractère nominatif de la réservation d'Espace</p>
        <p>Toute utilisation des Services, que ce soit en qualité d'Expéditeur ou de Transporteur, est nominative. Le Transporteur comme l'Expéditeur doivent correspondre à l’identité communiquée à Trankilo.
          Il est interdit de publier une Annonce pour un Transporteur autre que vous-même. Il est également interdit d’effectuer une réservation pour un Expéditeur autre que vous-même.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">4.4. Code de livraison</p>
        <p>Trankilo a mis en place un système de code qui permet de confirmer la transmission du Colis de l’Expéditeur au Transporteur et du Transporteur au Destinataire.
          A compter de la Confirmation de la Réservation, Trankilo transmet les coordonnées téléphoniques de l'Expéditeur ainsi qu’un Code de Dépôt au Transporteur. Lors de la remise du Colis au Transporteur par l’Expéditeur, ce dernier récupère le Code de Dépôt qui lui est remis par le Transporteur. Ainsi l’Expéditeur pourra Confirmer le Dépôt du Colis en entrant le Code de Dépôt à l’endroit indiqué de son Compte.
          A compter de la Confirmation de Dépôt, Trankilo transmet un Code de Livraison à l’Expéditeur. Ce dernier le communique au Destinataire en charge de récupérer Son Colis sur le Lieu de Livraison. Lors de la livraison du Colis au Destinataire par le Transporteur, ce dernier récupère le Code de Livraison qui lui est remis par le Destinataire. Ainsi le Transporteur pourra Confirmer la Livraison du Colis en entrant le Code de Livraison à l’endroit indiqué de son Compte.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">4.5. Système d'avis</p>
        <p>
          Trankilo vous encourage à laisser un avis sur un Transporteur (si vous êtes Expéditeur) qui a transporté vos Colis ou un Expéditeur (si vous êtes Transporteur) dont vous avez transporté les colis. Votre avis, ainsi que celui laissé par un autre Membre à votre égard ne sont visibles et publiés sur la Plateforme qu’immédiatement après que vous ayez, tous les deux, laissés un avis.
          Vous reconnaissez et acceptez que Trankilo se réserve la possibilité de ne pas publier ou supprimer tout avis, toute question, tout commentaire ou toute réponse dont elle jugerait le contenu contraire aux présentes CGU.
          Trankilo se réserve la possibilité de suspendre votre Compte, limiter votre accès aux Services ou résilier les présentes CGU dans le cas où (i) vous avez reçu au moins trois avis et (ii) la moyenne des avis que vous avez reçus est égale ou inférieure à 3.
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">5. Conditions financières</div>
      <p>L’accès et l’inscription à la Plateforme, de même que la recherche, la consultation et la publication d’Annonces sont gratuits. En revanche, la Réservation est payante dans les conditions décrites ci- dessous.</p>
      <div class="">
        <p class="text-secondary">5.1. Frais de transport</p>
        <p>Dans le cadre d’une Annonce, le montant des Frais de transport est déterminé par vous, en tant que Transporteur, sous votre seule responsabilité. Le montant des Frais de transport que vous fixez par unité d’Espace n’est pas limité.
          Toutefois, pour les particuliers ayant des Annonces occasionnelles qui correspondent à des voyages réels qu’ils effectuent, vous vous engagez à limiter le montant des Frais de Transport que vous demandez à vos Expéditeurs aux frais que vous supportez réellement pour effectuer le Transport de Colis. A défaut, vous supporterez seul les risques de requalification de l’opération effectuée par l’intermédiaire de la Plateforme.</p>
      </div>
      <div class="">
        <p class="text-secondary">5.2. Frais de réservation</p>
        <p>Trankilo prélève, en contrepartie de l’utilisation de la Plateforme, des commissions à ses utilisateurs (ci-après, les “Frais de réservation”). L’utilisateur sera informé avant toute application des Frais de réservation le cas échéant.
          Les Frais de réservation nous permettent de faire fonctionner notre Plateforme, de financer l’assurance des Colis, de garantir la présence de notre équipe ou de poursuivre l’amélioration de la Plateforme pour vous donner toujours plus de satisfaction et répondre toujours mieux à vos besoins. Le montant des Frais de réservation pour une Réservation est compris entre 0 et 25 % (avec un minimum de 1€) des Frais de Réservation et est déterminé en fonction du montant total des Frais de transport pour une Réservation. Les Expéditeurs peuvent prendre connaissance de ces Frais de réservation sur la page de paiement avant de régler leur réservation.
          Trankilo se réserve le droit de modifier à tout moment les modalités de calcul des Frais de réservation. Ces modifications n’auront pas d’effet sur les montants des frais des réservations effectuées par les Membres avant la date de prise d’effet de ces modifications.
          Vous reconnaissez et acceptez que Trankilo puisse, à son entière discrétion, arrondir au chiffre inférieur ou supérieur les Frais de transport et les Frais de Réservation.
        </p>
      </div>
      <p class="text-secondary">5.3. Modalités de paiement et de reversement de la Participation aux Frais au Transporteur</p>
      <div class="">
        <p class="text-secondary">5.3.1. Mandat d'encaissement</p>
        <p>En utilisant la Plateforme en tant que Transporteur pour des Annonces, vous confiez à Trankilo un mandat d’encaissement du montant des Frais de transport en votre nom et pour votre compte.
          Par conséquent, dans le cadre d'une Annonce, et après acceptation manuelle ou automatique de la Réservation, Trankilo encaisse la totalité de la somme versée par l'Expéditeur. Les Frais de transport reçus par Trankilo sont déposés sur un compte dédié au paiement des Transporteurs.
          Vous reconnaissez et acceptez qu'aucune des sommes perçues par Trankilo au nom et pour le compte du Transporteur n'emporte droit à intérêts. Vous acceptez de répondre avec diligences à toute demande de Trankilo et plus généralement de toute autorité administrative ou judiciaire compétente en particulier en matière de prévention ou la lutte contre le blanchiment. Notamment, vous acceptez de fournir, sur simple demande, tout justificatif d'adresse et/ou d'identité utile.
          En l'absence de réponse de votre part à ces demandes, Trankilo pourra prendre toute mesure qui lui semblera appropriée notamment le gel des sommes versées et/ou la suspension de votre Compte et/ou la résiliation des présentes CGU.
        </p>
      </div>
      <div class="">
        <p class="text-secondary">5.3.2. Versement des Frais de transport au Transporteur</p>
        <p>Les Expéditeurs disposent d'un délai de 24 heures, dès la livraison du Colis, pour effectuer une réclamation à Trankilo. En l'absence de contestation de leur part dans cette période, Trankilo considère la Confirmation de Livraison comme acquise.
          A compter de la confirmation acquise de l’ensemble des expéditions liées à votre Annonce, vous disposez, en tant que Transporteur, sur votre porte monnaie présent dans votre compte d’un crédit exigible qui correspond au montant total des Frais de transport payé par les Expéditeurs au moment de la confirmation de la Réservation. Ce crédit vous ai aussitôt viré sur votre compte bancaire, grâce au RIB que vous nous aurez préalablement fourni.
          (sous réserve que Trankilo dispose de vos coordonnées bancaires).
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">6. Finalité commerciale et non-commerciale de l’utilisation de la Plateforme</div>
      <div class="">Vous vous engagez à n’utiliser les Services et la Plateforme que pour être mis en relation, à titre non professionnel et non commercial, avec des personnes souhaitant partager la place dans leur valise durant leur Trajet ou réserver un Espace dans le cadre d’un Trajet maritime ou aérien.
        Vous vous engagez à fournir à Trankilo, sur simple demande de la part de celle-ci, une copie de votre justificatif de transport et/ou tout autre document de nature à attester que vous êtes autorisé à effectuer votre trajet.
        En tant que particulier, vous vous engagez à n’utiliser et la Plateforme que pour être mis en relation, à titre non professionnel et non commercial, avec des personnes souhaitant envoyer des colis sur un Trajet en Cobagage. Ainsi, en tant que Transporteur, vous vous engagez à ne pas demander des Frais de transport supérieurs aux frais que vous supportez réellement et susceptible de vous faire générer un bénéfice.
        Les professionnels (auto-entrepreneur, entreprise, association) dont l’activité sur la Plateforme est commerciale avec pour but de leur faire générer du bénéfice sont libres de fixer les Frais de transport correspondant à leur stratégie commerciale.
        Dans tous les cas, il appartient aux Membres de déclarer les revenus générés par l’utilisation de la plateforme selon les lois et règlements en vigueur et de s’acquitter de l’ensemble des taxes et impôts résultant du transport de Colis le cas échéant.
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">7. Politique d'annulation</div>
      <div class="">
        <p class="text-secondary">7.1. Modalités de remboursement en cas d'annulation</p>
        <p>Seules les Annonces font l’objet de la présente politique d’annulation, Trankilo n’offrant aucune garantie, de quelque nature que ce soit, en cas d’annulation, pour quelque raison que ce soit. L’annulation d’une Annonce ou d’une Réservation par le Transporteur ou l’Expéditeur après la Confirmation de Réservation est soumise aux stipulations ci-après :</p>
        <p>En cas d’annulation imputable au Transporteur</p>
        <p>En cas d’annulation imputable au Transporteur
          l’expéditeur est remboursé de la totalité de la somme qu’il a versée (c’est-à-dire la Participation aux Frais et les Frais de Service afférents). C’est notamment le cas lorsque le Transporteur annule un voyage.
        </p>
        <p>En cas d’annulation imputable à l’Expéditeur :</p>
        <p>•Si l’Expéditeur annule plus de 72 heures avant l’heure prévue pour la clôture des réservations telle que mentionnée dans l’Annonce, l’Expéditeur est remboursé du montant des Frais de transport.
          Les Frais de réservation demeurent acquis et le Transporteur ne reçoit aucune somme de quelque nature que ce soit ;
        </p>
        <p>•Si l’Expéditeur annule moins de 72 heures et plus 24 heures avant l’heure prévue pour la clôture des réservations telle que mentionnée dans l’Annonce, l’Expéditeur est remboursé à hauteur de la moitié des Frais de transport, les Frais de réservation demeurent acquis à Trankilo et le Transporteur reçoit 50% des Frais de transport;</p>
        <p>•Si l’Expéditeur annule moins de 24 heures avant l’heure prévue pour la clôture des réservations telle que mentionnée dans l’Annonce, l’Expéditeur ne reçoit aucun remboursement. les Frais de réservation demeurent acquis à Tankilo et le Transporteur reçoit l’intégralité des Frais de transport. •Si l’Expéditeur annule après l’heure prévue pour la clôture des réservations, telle que mentionnée dans l’Annonce, ou s’il ne se présente pas au lieu de rendez-vous pour le dépôt du Colis au plus tard dans un délai de 15 minutes à compter de l’heure convenue, aucun remboursement n’est effectué. Le transporteur est dédommagé à hauteur de la totalité des Frais de transport et les Frais de réservation sont conservés par Trankilo.</p>
        <p>Lorsque l’annulation intervient avant le départ et du fait de l’Expéditeur, l’Espaces annulé par l’Expéditeur pour ladite Annonce est de plein droit remis à la disposition d’autres Expéditeurs pouvant les réserver en ligne et en conséquence soumises aux conditions des présentes CGU. Trankilo apprécie à sa seule discrétion, sur la base des éléments à sa disposition, la légitimité des demandes de remboursement qu’elle reçoit.</p>
      </div>
      <div class="">
        <p class="text-secondary">7.2. Droit de rétraction</p>
        <p>En acceptant les présentes CGU, vous acceptez expressément que le Contrat entre vous et Trankilo consistant en la mise en relation avec un autre Membre soit exécuté avant l’expiration du délai de rétractation dès la Confirmation de Réservation et renoncez expressément à votre droit de rétraction, conformément aux dispositions de l’article L.221-28 du Code de la consommation.</p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">8. Comportement des utilisateurs et des Membres de la Plateforme</div>
      <div class="">
        <p class="text-secondary">8.1. Engagement de tous les utilisateurs de la Plateforme</p>
        <p>Vous reconnaissez être seul responsable du respect de l’ensemble des lois, règlements et obligations applicables à votre utilisation de la Plateforme.</p>
        <p>Par ailleurs, en utilisant la Plateforme, vous vous engagez à :</p>
        <p>• (i) ne transmettre à Trankilo (notamment lors de la création ou la mise à jour de votre Compte) ou aux autres Membres aucune information fausse, trompeuse, mensongère ou frauduleuse ;</p>
        <p>• (ii) ne tenir aucun propos, n’avoir aucun comportement ou ne publier sur la Plateforme aucun contenu à caractère diffamatoire, injurieux, obscène, pornographique, vulgaire, offensant, agressif, déplacé, violent, menaçant, harcelant, raciste, xénophobe, à connotation sexuelle, incitant à la violence, à la discrimination ou à la haine, encourageant les activités ou l’usage de substances illégales ou, plus généralement, contraires aux finalités de la Plateforme, de nature à porter atteinte aux droits de Trankilo ou d’un tiers ou contraires aux bonnes mœurs ;</p>
        <p>• (iii) ne pas porter atteinte aux droits et à l’image de Trankilo, notamment à ses droits de propriété intellectuelle ;</p>
        <p>• (iv) ne pas ouvrir plus d’un Compte sur la Plateforme et ne pas ouvrir de Compte au nom d’un tiers ;</p>
        <p>• (v) ne pas tenter de contourner le système de réservation en ligne de la Plateforme, notamment en
          tentant de communiquer à un autre Membre vos coordonnées afin de réaliser la réservation en
          dehors de la Plateforme et ne pas payer les Frais de réservation ;
        </p>
        <p>• (vi) ne pas contacter un autre Membre, notamment par l’intermédiaire de la Plateforme, à une autre
          fin que celle de définir les modalités du transport de Colis ;
        </p>
        <p>• (vii) ne pas accepter ou effectuer un paiement en dehors de la Plateforme ;</p>
        <p>• (viii) vous conformer aux présentes CGU et à la Charte de Confidentialité.</p>
      </div>
      <div class="">
        <p class="text-secondary">8.2. Engagements des transporteurs</p>
        <p>En outre, lorsque vous utilisez la Plateforme en tant que Transporteur, vous vous engagez à :</p>
        <p>•(i) respecter l’ensemble des lois et réglementations applicables au transport de Colis, notamment ;</p>
        <p>•(ii) vous assurez que les Colis que vous transportez sont couverts à minima contre les risques de perte ou dégradation par votre assurance ou celle de l’entreprise en charge du transport ;</p>
        <p>•(iii) publier des Annonces correspondant uniquement à des Trajets réellement envisagés ;</p>
        <p>•(iv) respecter les horaires et lieux convenus avec les autres Membres tels que les lieux de rendez- vous pour le dépôt et la livraison des Colis ;</p>
        <p>•(v) ne pas faire réserver plus d’Espace que celui indiqué dans l’Annonce;</p>
        <p>•(vi) communiquer à Trankilo lorsqu’il vous en fait la demande, une copie de votre titre de voyage si vous êtes particulier ou de votre titre transport si vous êtes professionnel (auto-entrepreneur, entreprise, association), de votre passeport ou tout autre document attestant de votre capacité à transporter des Colis en tant que Transporteur sur la Plateforme ;</p>
        <p>•(vii) informer sans délais les Expéditeurs en cas d’empêchement ou de modification de l’horaire indiqué dans votre Annonce ;</p>
        <p>•(viii) attendre les Expéditeurs et les Destinataires sur les lieux de rencontre convenus pour le dépôt et la livraison des Colis au moins 30 minutes au-delà de l’heure convenue ;</p>
      </div>
      <div class="">
        <p class="text-secondary">8.3. Engagements des Expéditeurs</p>
        <p>Lorsque vous utilisez la Plateforme en tant qu’expéditeur dans le cadre d’un voyage, vous vous
          engagez à :
        </p>
        <p>• (i) adopter une attitude convenable et rester courtois tout au long de la transaction ;</p>
        <p>• (ii) en cas d’empêchement pour le Dépôt ou la Livraison du Colis, en informer sans délai le
          Transporteur ;
        </p>
        <p>• (iii) attendre le Transporteur sur le Lieu de Dépôt ou le Lieu de Livraison convenu au moins 30
          minutes au-delà de l’heure convenue ;
        </p>
        <p>• (iv) Communiquer à Trankilo lorsqu’il vous en fait la demande, votre carte d’identité ou tout
          document de nature à attester de votre identité ;
        </p>
        <p>• (v) ne mettre dans son Colis, aucun objet, marchandise, substance, animal dont la nature, la
          possession ou le transport est contraire aux dispositions légales en vigueur ;
        </p>
        <p>• (vi) mettre à disposition du Transporteur et de toute autorité qui le solliciterait tout document de
          nature à justifier la possession des éléments contenus dans le Colis ;
        </p>
        <p>• (vii) vous assurer d’être joignable par téléphone par le Transporteur, au numéro enregistré sur votre
          profil, notamment au point de rendez-vous.
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">9. Suspension de comptes, limitation d’accès et résiliation</div>
      <div class="">
        <p>Vous avez la possibilité de mettre fin à votre relation contractuelle avec Trankilo à tout moment, sans frais et sans motif. Pour cela, il vous suffit de vous rendre dans l’onglet « Fermeture de compte » de votre page Profil.</p>
        <p>En cas de</p>
        <p>(i) violation de votre part des présentes CGU, notamment de vos obligations en tant que Membre mentionnées aux articles 6 et 8 ci-dessus</p>
        <p>(ii) de dépassement du seuil visé à l’article 4.5 ci- dessus ou si</p>
        <p>(iii) Trankilo a des raisons sérieuses de croire que ceci est nécessaire pour protéger sa sécurité et son intégrité, celles de ses Membres ou de tiers ou à des fins de prévention des fraudes ou d’enquêtes, Trankilo se réserve la possibilité de :</p>
        <p>• (i) résilier, immédiatement et sans préavis, les présentes CGU ; et/ou</p>
        <p>• (ii) empêcher la publication ou supprimer tout avis, Annonce, messages, contenus, demande de
          Réservation, ou tout contenu publié par vous sur la Plateforme ; et/ou
        </p>
        <p>• (iii) limiter votre accès et votre utilisation de la Plateforme ; et/ou</p>
        <p>• (iv) suspendre de façon temporaire ou permanente votre Compte.</p>
        <p>• (v)Lorsquecelaestnécessaire,voussereznotifiédelamiseenplaced’unetellemesureafindevous
          permettre de donner des explications à Trankilo. Trankilo décidera, à sa seule discrétion, de lever les mesures mises en place ou non.
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">10. Donées personnelles</div>
      <div class="">Dans le cadre de votre utilisation de la Plateforme, Trankilo est amené à collecter et traiter certaines de vos données personnelles. En utilisant la Plateforme et vous inscrivant en tant que Membre, vous reconnaissez et acceptez le traitement de vos données personnelles par Trankilo conformément à la loi applicable et aux stipulations de la Charte de Confidentialité.</div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">11. Fonctionnement disponibilité et fonctionnalités de la Plateforme</div>
      <div class="">
        <p>Trankilo s’efforcera, dans la mesure du possible, de maintenir la Plateforme accessible 7 jours sur 7 et 24 heures sur 24. Néanmoins, l’accès à la Plateforme pourra être temporairement suspendu, sans préavis, en raison d’opérations techniques de maintenance, de migration, de mises à jour ou en raison de pannes ou de contraintes liées au fonctionnement des réseaux.</p>
        <p>En outre, Trankilo se réserve le droit de modifier ou d’interrompre, à sa seule discrétion, de manière temporaire ou permanente, tout ou partie de l’accès à la Plateforme ou de ses fonctionnalités.</p>
      </div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">12. Modification des CGU</div>
      <div class="">Les présentes CGU expriment l’intégralité de l’accord entre vous et Trankilo relative à votre utilisation des Services. Tout autre document, notamment toute mention sur la Plateforme (FAQ, Blog, etc.), n’a qu’une valeur informative.
        Trankilo pourra être amenée à modifier les présentes Conditions Générales d’Utilisation afin de s’adapter à son environnement technologique et commercial et afin de se conformer à la réglementation en vigueur. Toute modification des présentes CGU sera publiée sur la Plateforme avec une mention de la date de mise à jour et vous sera notifiée par Trankilo avant son entrée en vigueur.</div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">13. Droit applicable - litige</div>
      <div class="">Les présentes CGU sont rédigées en français et soumises à la loi française.
        Toutes contestations ou litiges relatifs, à l'interprétation, à l'exécution ou à la rupture des présentes CGU seront soumises à la compétence exclusive des Tribunaux du ressort de la Cour d’appel de Paris.</div>
    </div>
    <div class="space-y-5">
      <div class="text-secondary">14. Mentions légales</div>
      <div class="">
        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du Site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <p>Editeur du site</p>
        <p>Le site <span class="text-secondary italic">www.trankiloapp.com</span> est édité par la société LGM WEEB société au capital de 1000 euros, en immatriculée au Registre de Commerce et des Sociétés de Nantes et ayant son siège social à Nantes.</p>
        <p>Responsable de publication</p>
        <p> Monsieur Louis-Gatien MICKALA, Gérant</p>
      </div>
    </div>
  </div>
</ion-content>
