<ion-content>
  <div class="text-center text-2xl font-bold mt-10">Inscription</div>
  <div class="divider bg-opacity-100 my-5"></div>
  <div class="mb-10">
    <div class="px-5 space-y-5 mb-5">
      <ion-button fill="clear" expand="full" class=" rounded-md px-0" style="border: 1px solid #0953A9;">
        <div class="w-full h-full flex items-center">
          <div class="h-full w-2/12 flex items-center justify-center">
            <img src="assets/icon/fb.svg" alt="">
          </div>
          <div class="text-white h-full text-center w-10/12 flex items-center text-2xl justify-center" style="background-color: #0953A9;">Facebook</div>
        </div>
      </ion-button>
      <ion-button fill="clear" expand="full" class=" rounded-md px-0" style="border: 1px solid #3D89E3;">
        <div class="w-full h-full flex items-center">
          <div class="h-full w-2/12 flex items-center justify-center">
            <img src="assets/icon/google.svg" alt="">
          </div>
          <div class="text-white h-full text-center w-10/12 flex items-center text-2xl justify-center" style="background-color: #3D89E3;">Google</div>
        </div>
      </ion-button>
      <div class="px-3">
        <fieldset class="bg-opacity-100" style="border-top-width: 1px;"><legend class="text-center px-5 italic text-gray-600">ou</legend></fieldset>
      </div>
    </div>
    <form action="" class="px-5">
      <ion-input placeholder="Nom" type="text" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="Prénom" type="text" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="Téléphone" type="tel" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="e-mail" type="email" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="Adresse" type="text" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="Code postal" type="text" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-input placeholder="Ville" type="text" class="border-2 rounded-md mb-5 pl-5 border-opacity-100"></ion-input>
      <ion-item class="relative mb-5">
        <ion-input placeholder="Mot de passse" type="password" class="border-2 rounded-md pl-5"></ion-input>
        <ion-icon slot="end" name="eye-off-outline" class="absolute right-5 top-2 text-gray-600"></ion-icon>
      </ion-item>
      <ion-item class="relative">
        <ion-input placeholder="Confirmer mot de passse" type="password" class="border-2 rounded-md pl-5"></ion-input>
        <ion-icon slot="end" name="eye-off-outline" class="absolute right-5 top-2 text-gray-600"></ion-icon>
      </ion-item>
      <div class="flex flex-row items-center justify-center my-5">
        <p class="pr-2">S’incrire comme</p>
        <ion-button fill="clear" class="text-secondary text-sm">Ambassadeur trankilo</ion-button>
      </div>
      <div class="">
        <ion-button fill="clear" expand="block" class="bg-secondary text-white rounded-3xl text-xl">Connexion</ion-button>
      </div>
    </form>
    <div class="divider bg-opacity-100 my-5 border-dashed"></div>
    <div class="flex flex-col items-center space-y-10 px-5">
      <div class="">
        En cliquant sur s’inscrire, j'accepte la <span class="text-secondary">Politique de confidentialité</span> et les <span class="text-secondary text-sm">Conditions générales</span> de vente 
        de Trankilo.
      </div>
      <div class="flex flex-row items-center">
        <p class="pr-2">Vous avez deja un compte ?</p>
        <ion-button fill="clear" class="text-secondary text-sm">Se connecter</ion-button>
      </div>
    </div>
  </div>
</ion-content>
