<ion-content>
  <div class="flex justify-between pt-5 px-5">
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="myBackButton()"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
  </div>
  <div class="px-5">
    <div class="text-center font-bold text-2xl my-5">Colis à venir</div>
    <ion-card class="shadow-none">
      <div class="border-2 rounded-md flex flex-row items-start space-x-5 pl-5 py-3">
        <div class="">
          <img src="assets/icon/icon3.svg" alt="" class="">
        </div>
        <div class="flex flex-col space-y-3">
          <div class="flex flex-row space-x-1 text-lg">
            <ion-text color="secondary">Information sur le colis </ion-text>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Contenu du colis :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">Appareil photo</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Date d’envoi :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">23/11/2021</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Numero de suivi :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">5z 0040 9148 79 2</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Poids du colis :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">1Kg</p>
              </ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="shadow-none">
      <div class="border-2 rounded-md flex flex-row items-start space-x-5 pl-5 py-3">
        <div class="">
          <ion-icon size="large" name="person-outline"></ion-icon>
        </div>
        <div class="flex flex-col space-y-3">
          <div class="flex flex-row space-x-1 text-lg">
            <ion-text color="secondary">Expediteur</ion-text>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Nom :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">Abouang</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Prénom :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">loïc</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Téléphone :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">01234567890</p>
              </ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="shadow-none">
      <div class="border-2 rounded-md flex flex-row items-start space-x-5 pl-5 py-3">
        <div class="">
          <ion-icon size="large" name="person-outline"></ion-icon>
        </div>
        <div class="flex flex-col space-y-3">
          <div class="flex flex-row space-x-1 text-lg">
            <ion-text color="secondary">Destinataire du  colis</ion-text>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Nom :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">Koumba</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">prénom :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">Nathalie</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Ville :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">Douala</p>
              </ion-text>
            </div>
            <div class="flex flex-row space-x-2">
              <ion-text color="medium">
                <p class="">Téléphone :</p>
              </ion-text>
              <ion-text color="light">
                <p class="">6123456789</p>
              </ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-button fill="clear" expand="block" class="bg-secondary text-white rounded-2xl text-lg">Mettre a jour</ion-button>
  </div>
</ion-content>