<ion-content>
  <div class="flex justify-between pt-5 px-5">
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="myBackButton()"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
  </div>
  <div class="px-5">
    <div class="text-center font-bold text-2xl my-5">Colis reçus</div>
    <div class="text-center my-10 text-lg">
      <ion-text color="light">Vous n’avez aucun colis</ion-text>
    </div>
    <div class="flex justify-center mt-24">
      <img src="assets/icon/icon_empty2.svg" alt="">
    </div>
  </div>
</ion-content>
