<ion-content>
  <div class="flex justify-between pt-5 px-5">
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="myBackButton()"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
  </div>
  <div class="px-5 flex flex-col items-center space-y-10">
    <div class="text-center font-bold text-2xl mt-10">Livraison</div>
    <div class="text-secondary text-center text-2xl">
      Veuillez entrer 
      votre code validation
    </div>
    <form action="" class="flex flex-col items-center space-y-10">
      <ion-input class="border-2 border-secondary rounded-md"></ion-input>
      <ion-button color="secondary" class="text-white rounded-2xl">je confirme la livraison</ion-button>
    </form>
  </div>
</ion-content>
