<ion-content>
  <div class="flex justify-between pt-5 px-5">
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="myBackButton()"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
  </div>
  <div class="">
    <div class="text-center font-bold text-2xl my-5">Colis reçu</div>
    <ion-card class="shadow-non" *ngFor="let item of items">
      <div class="border-2 border-secondary rounded-md flex flex-row items-center space-x-10 pl-5 py-3" routerLink="../colis-recus/details">
        <div class="">
          <img src="assets/icon/icon2.svg" alt="" class="w-8">
        </div>
        <div class="flex flex-col space-y-3">
          <div class="flex flex-row space-x-1 text-lg items-center">
            <ion-text color="medium">Transport : </ion-text>
            <ion-text color="secondary">colissimo</ion-text>
            <ion-button fill="clear" class="pl-3" (click)="remisTransporteur()">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </div>
          <div class="flex flex-row space-x-5">
            <div class="flex flex-col">
              <ion-text color="light">
                <p class="">Date d’envoi :</p>
                <p class="">23/11/2021</p>
              </ion-text>
            </div>
            <div class="flex flex-col">
              <ion-text color="light">
                <p class="">Numéro de suivi :</p>
                <p class="">5Z 0040 9148 79 2</p>
              </ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
