<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="trajet">
      <ion-icon class="test" name="airplane-outline"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
