<ion-content>
  <div class="flex justify-end pr-10 pt-10">
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
  </div>
  <div class="px-5 space-y-10 mt-10">
    <div class="text-center font-bold text-2xl">Transporter un colis</div>
    <form action="" class="">
      <ion-item>
        <ion-label position="stacked">Date de reception*</ion-label>
        <ion-input type="date" placeholder="" class="border-2 rounded-md w-full"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ville de destination*</ion-label>
        <ion-input type="text" placeholder="Douala" class="border-2 rounded-md w-full"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Téléphone du destinataire*</ion-label>
        <ion-input type="tel" placeholder="" class="border-2 rounded-md w-full"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nom du destinataire*</ion-label>
        <ion-input type="text" placeholder="" class="border-2 rounded-md w-full"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prénom du destinataire*</ion-label>
        <ion-input type="text" placeholder="" class="border-2 rounded-md w-full"></ion-input>
      </ion-item>
      <ion-button type="submit" fill="clear" expand="block" class="bg-secondary text-white rounded-2xl mt-10">Je confirme la prise en charge</ion-button>
    </form>
  </div>
</ion-content>
