<ion-content>
  <div class="flex justify-end p-5" (click)="dismiss()">
    <ion-icon size="large" name="close-circle-outline"></ion-icon>
  </div>
  <div class="space-y-10 px-5 mt-10">
    <div class="text-center">
      Pour confirmer votre numéro 
      de téléphone, veuillez saisir le code 
      que nous vous avons envoyé par SMS
    </div>
    <form action="" class="flex flex-col items-center space-y-5">
      <ion-input type="tel" placeholder="Saisissez votre code" class="border-2 border-secondary rounded-md uppercase"></ion-input>
      <ion-button color="secondary" class="rounded-xl text-lg">confirmer</ion-button>
    </form>
  </div>
</ion-content>
