<ion-content>
  <div class="px-5 flex flex-col items-center">
    <div class="text-center my-16 text-xl">
      souhaitez - vous supprimer definitivement votre compte ?
    </div>
    <div class="flex flex-row space-x-5">
      <ion-button fill="clear" class="rounded-xl text-secondary border-secondary border-2 text-lg w-full">confirmer</ion-button>
      <ion-button fill="clear" class="rounded-xl text-white bg-secondary text-lg w-full       " (click)="dismiss()">annuler</ion-button>
    </div>
  </div>
</ion-content>
