ion-item{
    --padding-start:0 px;

    ion-input{
        --padding-start: 30px;
        --border-color: var(--ion-color-danger, #F79D31);
        :host{
            border-color: #F79D31 !important;
        }
    }
    :host{
        border-color: #F79D31 !important;
    }

}
