<ion-content>
  <div class="flex items-center mt-10 mb-16 w-full">
    <ion-button fill="clear" (click)="myBackButton()" class="text-black">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="font-bold text-2xl">Mes trajets</div>
  </div>
  <div class="">
    <div class="">
      <ion-card class="border-secondary border-2 flex flex-row items-center h-16 px-5" style="box-shadow: none;">
        <div class="">
          <img src="assets/icon/photo1.svg" alt="">
        </div>
        <div class="pl-3">
          <div class="flex flex-row justify-between">
            <div class="font-bold">Mireille</div>
            <div class="text-secondary">55 €</div>
          </div>
          <div class="">1 voyage Paris - Yaounde </div>
        </div>
        <div class="pl-5">
          <div class="text-secondary">10 Kg</div>
          <div class="">Proposé</div>
        </div>
      </ion-card>
      <ion-card class="border-secondary border-2 flex flex-row items-center h-16 px-5" style="box-shadow: none;">
        <div class="">
          <img src="assets/icon/photo2.svg" alt="">
        </div>
        <div class="pl-5">
          <div class="flex flex-row justify-between">
            <div class="font-bold">Jean-marc</div>
            <div class="text-secondary">55 €</div>
          </div>
          <div class="">1 voyage Paris - Yaounde </div>
        </div>
        <div class="pl-5">
          <div class="text-secondary">10 Kg</div>
          <div class="">Proposé</div>
        </div>
      </ion-card>
      <ion-card class="border-secondary border-2 flex flex-row items-center h-16 px-5" style="box-shadow: none;">
        <div class="">
          <img src="assets/icon/photo3.svg" alt="">
        </div>
        <div class="pl-3">
          <div class="flex flex-row justify-between">
            <div class="font-bold">Fabrice</div>
            <div class="text-secondary">55 €</div>
          </div>
          <div class="">1 voyage Paris - Yaounde </div>
        </div>
        <div class="pl-5">
          <div class="text-secondary">10 Kg</div>
          <div class="">Proposé</div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
