<ion-content>
  <div class="relative h-full">
    <div class="flex justify-between pt-5 px-5">
      <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="myBackButton()"></ion-icon>
      <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
    </div>
    <div class="mt-10 px-5 space-y-32">
      <div class="text-center text-2xl font-bold">Gestion de colis</div>
      <div class="space-y-5">
        <ion-button fill="clear" expand="block" class="rounded-2xl text-white bg-secondary" routerLink="../gestion-colis/envoyer-colis">J’expedie</ion-button>
        <ion-button fill="clear" expand="block" class="rounded-2xl text-white bg-secondary" routerLink="../gestion-colis/j-espedie">Je transporte</ion-button>
      </div>
      <div class="fixed -bottom-20 left-0 w-full">
        <img src="assets/icon/colis.svg" alt="" class="w-full">
      </div>
    </div>
  </div>
</ion-content>
