<ion-header class="ion-no-border">
  <div class="flex items-center justify-between  mt-10 mb-5 w-full">
    <ion-button fill="clear" (click)="myBackButton()" class="text-black">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="font-bold text-2xl">Mes messages</div>
    <ion-button fill="clear"></ion-button>
  </div>
  <div class="px-5">
    <div class="flex flex-row justify-between w-full p-2 border-2 border-secondary items-center rounded-md">
      <div class="flex items-center space-x-3">
        <div class="">
          <img src="assets/icon/photo1.svg" alt="">
        </div>
        <div class="">Sarah</div>
      </div>
      <ion-button fill="clear" class="bg-secondary text-white uppercase rounded-xl text-sm">RECHERCHER UN TRAJET</ion-button>
    </div>
  </div>
  <hr class="border-primary" />
</ion-header>

<ion-content class="ion-padding">
  <div class="text-gray-600">
    <div
      class="flex flex-col gap-5 py-1 px-3"
    >
      <div
        class="flex justify-start"

      >
        <div class="min-w-min py-2 px-3 rounded-lg recieve whitespace-pre-wrap bg-pink-100">
          Lorem ipsum dolor sit amet.
        </div>
      </div>
      
      <div
        class="flex justify-start"

      >
        <div class="min-w-min py-2 px-3 rounded-lg recieve whitespace-pre-wrap bg-pink-100">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, fugiat!
        </div>
      </div>

      <div
        class="flex justify-end"
      >
        <div class="min-w-min py-2 px-3 rounded-lg send whitespace-pre-wrap bg-gray-100">
          Lorem ipsum dolor sit amet.
        </div>
      </div>

      <div
        class="flex justify-start"

      >
        <div class="min-w-min py-2 px-3 rounded-lg recieve whitespace-pre-wrap bg-pink-100">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, fugiat!
        </div>
      </div>

      <div
      class="flex justify-end"
    >
      <div class="min-w-min py-2 px-3 rounded-lg send whitespace-pre-wrap bg-gray-100">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, esse nihil fugit quibusdam dignissimos corporis. Officiis cumque ab obcaecati nobis.
      </div>
    </div>
    </div>
  </div>
</ion-content>

<ion-footer class="px-2 ion-no-border">
  <div
    class="
      border border-secondary
      rounded-lg
      overflow-hidden
      grid grid-cols-4
      gap-2
      items-center
      justify-between
      mb-2
    "
  >
    <ion-textarea
      autoGrow="true"
      rows="1"
      maxLength="500"
      class="col-span-3 bg-gray-100 rounded-lg m-0"
    ></ion-textarea>
    <div class="col-span-1 flex flex-row justify-end gap-2 mr-2">
      <img src="assets/icon/img.svg" alt="" srcset="" />
      <img src="assets/icon/send.svg" alt="" srcset="" />
    </div>
  </div>
</ion-footer>
