<ion-content>
  <div class="flex items-center mt-10 mb-5 w-full">
    <ion-button fill="clear" (click)="myBackButton()" class="text-black">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div class="font-bold text-2xl"></div>
  </div>
  <div class="">
    <ion-card class="border-secondary border-2 shadow-none">
      <ion-card-content class="flex items-center justify-between">
        <img src="assets/icon/tof.svg" alt="" class="rounded-full">
        <div class="font-bold text-2xl">Sarah</div>
        <ion-button slot="end" fill="clear" class="uppercase bg-secondary text-white rounded-md">reserver</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

