<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="gestion-colis">
      <ion-icon name="clipboard-outline"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="mes-disponibilites">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="mon-compte">
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
