<ion-content>
  <div class="space-y-2">
    <ion-item>
      <div class="flex justify-between w-full items-center" (click)="remisTransporteur()">
        <ion-button fill="clear" class="text-black">Colis remis</ion-button>
        <div class="">
          <img src="assets/icon/ic_baseline-call-received.svg" alt="">
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="flex justify-between w-full items-center" (click)="contacterExpediteur()">
        <ion-button fill="clear" class="text-black">Contacter l’expéditeur</ion-button>
        <div class="">
          <img src="assets/icon/eva_phone-call-outline.css" alt="">
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
