<ion-content>
  <div class="">
    <div class="flex justify-end pt-5 pr-5 mb-5" (click)="dismiss()">
      <ion-icon size="large" name="close-circle-outline"></ion-icon>
    </div>
    <div class="flex flex-col items-center space-y-10">
      <div class="text-secondary text-2xl">Détail expedition</div>
      <div class="flex flex-col space-y-5">
        <div class="flex flex-col">
          <div class="flex flex-row space-x-2">
            <ion-text color="medium">Nom du transporteur :</ion-text>
            <ion-text color="light">M. Dipoko Jean</ion-text>
          </div>
          <div class="flex flex-row space-x-2">
            <ion-text color="medium">Telephone du transporteur :</ion-text>
            <ion-text color="light">0123456789</ion-text>
          </div>
          <div class="flex flex-row space-x-2">
            <ion-text color="medium">Ville de destination :</ion-text>
            <ion-text color="light">Douala</ion-text>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row space-x-2">
            <ion-text color="medium">Nom du destinataire :</ion-text>
            <ion-text color="light">Koumba Nathalie</ion-text>
          </div>
          <div class="flex flex-row space-x-2">
            <ion-text color="medium">Telephone du destinataire :</ion-text>
            <ion-text color="light">6123456789</ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
