<ion-content>
  <div class="flex flex-col  p-10">
    <div class="flex flex-row justify-center space-x-2 text-lg">
      <ion-text color="medium">Transport :</ion-text>
      <ion-text color="secondary">colissimo</ion-text>
    </div>
    <div class="flex flex-row justify-center space-x-3">
      <div class="flex flex-col">
        <ion-text color="medium">Date d’envoi :</ion-text>
        <ion-text color="light">18/11/2021</ion-text>
      </div>
      <div class="flex flex-col">
        <ion-text color="medium">Numéro de suivi :</ion-text>
        <ion-text color="light">5Z 0040 9148 79 2</ion-text>
      </div>
    </div>
    <ion-button fill="clear" expand="block" class="rounded-2xl text-white text-lg bg-secondary mt-5">Rémis au transporrteur</ion-button>
  </div>
</ion-content>
